// primary
$primary-100: #0086e1;
$primary-600: #003c64;

// secondary
$secondary-300: #0b1b2d;
$secondary-600: #060f1a;
$secondary-800: #03080d;
$secondary-1200: #3f5166;
$secondary-1500: #8793a0;
$secondary-1600: #9fa8b3;